@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-family: 'Montserrat', sans-serif;
}

.title {
    text-align: center;
    padding-top: 35px;
    background-color: aquamarine;
}


div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

ol {
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
}

p {
    text-align: center;
    padding-top: 35px;
    background-color: aquamarine
} 
